@using OnePageRulesCards.Data
@using OnePageRulesCards.Services

@model Selection

@inject CharacteristicService CharacteristicService
@inject ProfileService ProfileService
@inject RulesService RulesService

@{
  IEnumerable<Profile> getProfiles(Selection selection, string type = null)
  {
    var profiles = new List<Profile>();

    if (selection.Profiles?.Any(p => type == null || p.TypeName == type) == true)
      profiles.AddRange(selection.Profiles);

    if (selection.Selections?.Any() == true)
      profiles.AddRange(selection.Selections.SelectMany(s => getProfiles(s, type)));

    return profiles;
  }

  IEnumerable<IGrouping<string, Profile>> allProfiles = getProfiles(Model)
    .GroupBy(p => p.TypeName);

  IEnumerable<IGrouping<string, Profile>> nonUnitProfiles = allProfiles
    .Where(p => p.Key != "Unit" && p.Key != "Model");

  Profile? unitProfile = allProfiles
    .First(grp => grp.Key == "Unit" || grp.Key == "Model")
    .FirstOrDefault();

  int? toughness = ProfileService.GetToughness(unitProfile);
  int? psychic = ProfileService.GetPsychic(unitProfile);

  if (unitProfile == null)
  {
    return;
  }
}

<div class="card mb-4">
  <div class="card-body">
    <h3 class="text-center" style="font-weight: 500;">@Model.Name</h3>
    <hr class="mb-0" />
    @*<div class="d-flex mb-2" style="justify-content: space-evenly;">

        <div class="profile-stat quality">
          <p>
            @unitProfile.Characteristics.First(c => c.Name.ToLower().StartsWith("qua")).Value
          </p>
          <p>QUA</p>
        </div>
        <div class="profile-stat defense">
          <p class="lead">
            @unitProfile.Characteristics.First(c => c.Name.ToLower().StartsWith("def")).Value
          </p>
          <p>DEF</p>
        </div>

        @if (toughness.HasValue)
        {
          <div class="profile-stat toughness">
            <p class="lead">@toughness</p>
            <p>T</p>
          </div>
        }
      </div>*@

    <div class="d-flex mb-2" style="justify-content: center;">

      <div class="profile-stat">
        <p>Quality</p>
        <p>
          @unitProfile.Characteristics.First(c => c.Name.ToLower().StartsWith("qua")).Value
        </p>
      </div>
      <div class="profile-stat">
        <p>Defense</p>
        <p>
          @unitProfile.Characteristics.First(c => c.Name.ToLower().StartsWith("def")).Value
        </p>
      </div>

      @if (toughness.HasValue)
      {
        <div class="profile-stat">
          <p>Tough</p>
          <p>@toughness</p>
        </div>
      }

      @if (psychic.HasValue)
      {
        <div class="profile-stat">
          <p>Psychic</p>
          <p>@psychic</p>
        </div>
      }
    </div>

    @foreach (var p in nonUnitProfiles)
    {
      <table class="table stats-table">
        <thead>
          <tr>
            <th>@ProfileService.MapName(p.Key)</th>
            @foreach (Characteristic c in p.First().Characteristics)
            {
              <th>@CharacteristicService.MapName(c.Name)</th>
            }
          </tr>
        </thead>
        <tbody>
          @foreach (Profile profile in p)
          {
            <tr>
              <td style="font-weight: 600; width: 200px;">@profile.Name</td>
              @foreach (Characteristic c in profile.Characteristics)
              {
                <td>@CharacteristicService.MapName(c.Value)</td>
              }
            </tr>
          }
        </tbody>
      </table>
    }

    @*<partial name="Shared/UnitProfile" model="unitProfiles" />
      <partial name="Shared/WeaponProfile" model="weaponProfiles" />*@
    @foreach (var rule in RulesService.FindRulesForUnit(Model))
    {
      <p><span style="font-weight: bold;">@rule.Name</span> - @RulesService.ParseRule(rule.Description)</p>
    }
  </div>
</div>